---
import katex from 'katex';
import { SectionMap } from './SectionMap';

interface PropsWithLabel {
  latex: string;
  label: string;
  block: true;
  map: SectionMap;
}

interface PropsWithoutLabel {
  latex: string;
  label?: never;
  block: false;
  map?: never;
}

type Props = PropsWithLabel | PropsWithoutLabel;

const { latex = '', label = '', block = false, map } = Astro.props as Props;

const html = katex.renderToString(latex, {
  throwOnError: true,
  displayMode: block,
});

const sanitizedLabel = SectionMap.sanitizeLabel(label);

const index = map?.getLabelByType(label, 'Equation') ?? [];
---

{
  block ? (
    <div>
      {label && (
        <p class="p-0 !my-2 text-sm text-orange-800/90 dark:text-orange-100/90 print:text-black">
          Equation {index.length > 0 ? index : ['??']}. - {label}{' '}
          <span class="italic">
            <slot />
          </span>
        </p>
      )}

      <span
        class="w-full overflow-auto"
        style={block ? 'display: block' : ''}
        id={sanitizedLabel}
        set:html={html}
      />
    </div>
  ) : (
    <span
      class="w-full overflow-auto"
      style={block ? 'display: block' : ''}
      id={sanitizedLabel}
      set:html={html}
    />
  )
}

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.css"
  integrity="sha384-WsHMgfkABRyG494OmuiNmkAOk8nhO1qE+Y6wns6v+EoNoTNxrWxYpl5ZYWFOLPCM"
  crossorigin="anonymous"
/>
