---
import { Image as ImageComponent } from 'astro:assets';
import { SectionMap } from './SectionMap';

type ImageExtensions = 'png' | 'jpg' | 'jpeg';

interface Props {
  label: string;
  src: `/blogs/${string}.${ImageExtensions}`;
  width: number;
  height: number;
  alt?: string;
  map: SectionMap;
}

const { label, src, width, height, alt = '', map } = Astro.props as Props;

const index = map.getLabelByType(label, 'Figure');
---

<ImageComponent
  id={SectionMap.sanitizeLabel(label)}
  src={src}
  alt={alt ?? label}
  width={width}
  height={height}
  class="rounded mb-0"
/>

{Astro.slots.default && (
  <p
    class="p-0 !my-2 text-sm text-orange-800/90 dark:text-orange-100/90 print:text-black"
  >
    Figure {index} - <span class="italic"><slot /></span>
  </p>
)}
