---
import { SectionMap, type RefType } from './SectionMap';

interface Props {
  type: RefType;
  title: string;
  map: SectionMap;
  ref?: string;
}

const { type, title, map, ref } = Astro.props as Props;

const sanitizedLabel = SectionMap.sanitizeLabel(ref ?? title)
---

{
  type == 'Section' && (
    <h2 class="label" id={sanitizedLabel}>
      {map.getSectionStr(sanitizedLabel, type)}. {title}
    </h2>
  )
}
{
  type == 'Subsection' && (
    <h3 class="label" id={sanitizedLabel}>
      {map.getSectionStr(sanitizedLabel, type)}. {title}
    </h3>
  )
}
{
  type == 'Subsubsection' && (
    <h4 class="label" id={sanitizedLabel}>
      {map.getSectionStr(sanitizedLabel, type)}. {title}
    </h4>
  )
}
{
  type == 'Figure' && (
    <h5 class="label" id={sanitizedLabel}>
      Fig ??.
    </h5>
  )
}
{
  type == 'Table' && (
    <h5 class="label" id={sanitizedLabel}>
      Tab ??.
    </h5>
  )
}
{
  type == 'Equation' && (
    <span class="label" id={sanitizedLabel}>
      Eqn ??.
    </span>
  )
}
