---
import { SectionMap } from './SectionMap';

interface Props {
  label: string;
  data: string[][];
  hasHead: boolean;
  map: SectionMap;
}

const { label, data, hasHead = false, map } = Astro.props as Props;

const index = map.getLabelByType(label, 'Table');
---

<table class="border w-full p-3 rounded-4xl mb-0">
  {
    hasHead && (
      <thead class="bg-gray-200/30">
        <tr>
          {data[0].map((item) => (
            <th>
              <p class="mx-3 my-2">{item}</p>
            </th>
          ))}
        </tr>
      </thead>
    )
  }

  <tbody>
    {
      (hasHead ? data.splice(1) : data).map((row, index) => (
        <tr class="odd:bg-lime-50/5 even:bg-lime-50/10">
          {row.map((item) => (
            <td>
              <p class="mx-3 my-1">{item}</p>
            </td>
          ))}
        </tr>
      ))
    }
  </tbody>

  <caption class="p-2 bg-lime-50/30 border border-b-0">
    <span class="label" id={SectionMap.sanitizeLabel(label)}>
      Table {index} - {label}
    </span>
  </caption>
</table>

<p class="p-0 !my-2 text-sm text-orange-800/90  dark:text-orange-100/90 print:text-black">
  Table {index} - <span class="italic"><slot /></span>
</p>
